In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, StandardScaler, Normalizer

df = pd.read_csv("avocado_encoded.csv")
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,type_label,region_ordinal,region_frequency,region_target
0,2015-12-27,1.33,11.070344,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015.0,Albany,0,0,338,1.561036
1,2015-12-20,1.35,10.912867,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015.0,Albany,0,0,338,1.561036
2,2015-12-13,0.93,11.680313,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015.0,Albany,0,0,338,1.561036
3,2015-12-06,1.08,11.277116,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015.0,Albany,0,0,338,1.561036
4,2015-11-29,1.28,10.840377,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015.0,Albany,0,0,338,1.561036

In [3]:
# Select Numerical Columns
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
X_num = df[num_cols]

num_cols

Index(['AveragePrice', 'Total Volume', '4046', '4225', '4770', 'Total Bags',
       'Small Bags', 'Large Bags', 'XLarge Bags', 'year', 'type_label',
       'region_ordinal', 'region_frequency', 'region_target'],
      dtype='object')

In [4]:
# Min-Max Scaling
minmax = MinMaxScaler()
X_minmax = minmax.fit_transform(X_num)

X_minmax[:5]

array([[0.43203883, 0.70210856, 0.00375264, 0.146777  , 0.00308549,
        0.0322913 , 0.04216013, 0.0016991 , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.66982079],
       [0.44174757, 0.68540962, 0.00244066, 0.12031895, 0.00373705,
        0.03529395, 0.04610216, 0.00177636, 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.66982079],
       [0.23786408, 0.76679003, 0.00287654, 0.29420081, 0.0083608 ,
        0.03024352, 0.03940907, 0.00187931, 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.66982079],
       [0.31067961, 0.72403481, 0.00409745, 0.19400441, 0.00465002,
        0.02157672, 0.02782084, 0.00243723, 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.66982079],
       [0.40776699, 0.67772265, 0.00340783, 0.11816151, 0.00485503,
        0.02296088, 0.02933434, 0.0036021 , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.66982079]])

In [5]:
# Max Absolute Scaling
maxabs = MaxAbsScaler()
X_maxabs = maxabs.fit_transform(X_num)

X_maxabs[:5]

array([[0.532     , 0.79760032, 0.00375264, 0.146777  , 0.00308549,
        0.0322913 , 0.04216013, 0.0016991 , 0.        , 0.99851338,
        0.        , 0.        , 1.        , 0.86056563],
       [0.54      , 0.78625437, 0.00244066, 0.12031895, 0.00373705,
        0.03529395, 0.04610216, 0.00177636, 0.        , 0.99851338,
        0.        , 0.        , 1.        , 0.86056563],
       [0.372     , 0.84154757, 0.00287654, 0.29420081, 0.0083608 ,
        0.03024352, 0.03940907, 0.00187931, 0.        , 0.99851338,
        0.        , 0.        , 1.        , 0.86056563],
       [0.432     , 0.81249792, 0.00409745, 0.19400441, 0.00465002,
        0.02157672, 0.02782084, 0.00243723, 0.        , 0.99851338,
        0.        , 0.        , 1.        , 0.86056563],
       [0.512     , 0.78103153, 0.00340783, 0.11816151, 0.00485503,
        0.02296088, 0.02933434, 0.0036021 , 0.        , 0.99851338,
        0.        , 0.        , 1.        , 0.86056563]])

In [6]:
# Z-Score Standardization
standard = StandardScaler()
X_standard = standard.fit_transform(X_num)

X_standard[:5]

array([[-0.18630549, -0.05018082, -0.69011448, -0.33244626, -0.6460569 ,
        -0.74439934, -0.7011625 , -0.70368522, -0.60051081, -1.22128204,
        -0.99983562, -1.7002522 ,  0.13674962,  0.96533835],
       [-0.13572583, -0.12656592, -0.69376675, -0.40617828, -0.64436055,
        -0.73570596, -0.68962115, -0.70347556, -0.60051081, -1.22128204,
        -0.99983562, -1.7002522 ,  0.13674962,  0.96533835],
       [-1.19789867,  0.24568815, -0.69255336,  0.07838741, -0.63232268,
        -0.75032815, -0.70921698, -0.70319618, -0.60051081, -1.22128204,
        -0.99983562, -1.7002522 ,  0.13674962,  0.96533835],
       [-0.81855123,  0.05011525, -0.6891546 , -0.20083513, -0.64198367,
        -0.77542056, -0.74314463, -0.70168211, -0.60051081, -1.22128204,
        -0.99983562, -1.7002522 ,  0.13674962,  0.96533835],
       [-0.31275464, -0.16172801, -0.69107435, -0.41219054, -0.64144991,
        -0.77141309, -0.73871345, -0.69852096, -0.60051081, -1.22128204,
        -0.99983562, -1.7002522 ,  0.13674962,  0.96533835]])

In [7]:
# Vector Normalization
normalizer = Normalizer()
X_normalized = normalizer.fit_transform(X_num)

X_normalized[:5]

array([[2.38098697e-05, 1.98183049e-04, 1.85598829e-02, 9.74859309e-01,
        8.62167912e-04, 1.55692738e-01, 1.54023361e-01, 1.66937620e-03,
        0.00000000e+00, 3.60728476e-02, 0.00000000e+00, 0.00000000e+00,
        6.05092928e-03, 2.79459036e-05],
       [2.89395021e-05, 2.33935519e-04, 1.44543166e-02, 9.56907360e-01,
        1.25040086e-03, 2.03767536e-01, 2.01677675e-01, 2.08986078e-03,
        0.00000000e+00, 4.31948865e-02, 0.00000000e+00, 0.00000000e+00,
        7.24559386e-03, 3.34634002e-05],
       [8.47224076e-06, 1.06406906e-04, 7.23966637e-03, 9.94346540e-01,
        1.18884669e-03, 7.42036196e-02, 7.32640208e-02, 9.39598830e-04,
        0.00000000e+00, 1.83565216e-02, 0.00000000e+00, 0.00000000e+00,
        3.07915847e-03, 1.42209340e-05],
       [1.49024568e-05, 1.55608093e-04, 1.56199825e-02, 9.93171615e-01,
        1.00150029e-03, 8.01857047e-02, 7.83400079e-02, 1.84569688e-03,
        0.00000000e+00, 2.78041209e-02, 0.00000000e+00, 0.00000000e+00,
        4.66391705e-03, 2.15400595e-05],
       [2.86146119e-05, 2.42338415e-04, 2.10469412e-02, 9.80014465e-01,
        1.69407444e-03, 1.38243226e-01, 1.33823833e-01, 4.41939267e-03,
        0.00000000e+00, 4.50456585e-02, 0.00000000e+00, 0.00000000e+00,
        7.55604595e-03, 3.48972071e-05]])

In [8]:
df[num_cols] = X_standard
df.to_csv("avocado_scaled.csv", index=False)

print("Final scaled file saved")

Final scaled file saved